.Titulo{
    color: #009c9c;
    padding-left: 5rem;
    font-size: 30px;
}

.Digitacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6rem;
    font-size: 20px;
}

.Local_digitacao_nome {
    display: flex;
    flex-direction: row; /* Alinhamento horizontal */
    align-items: center; /* Alinha verticalmente ao centro */
}
.Local_digitacao_nome, h3{
    display: flex;
}
.Input {
    width: 8.5rem;
    height: 2rem;
    margin-left: 2rem;
    -moz-appearance: textfield; /* Remove setas no Firefox */
}

.Input::-webkit-outer-spin-button,
.Input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Remove setas no Chrome, Safari e Edge */
    margin: 0; /* Remove margens padrão */
}


.h5{
    font-size: 20px;
    margin-left: 20px;
}
.Input_data{
    font-size: 1.2rem;
    width: 8.5rem;
    margin-left: 2rem;
}

