.Titulo{
    color: #009c9c;
    padding-left: 5rem;
    font-size: 30px;
}

.Digitacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8rem;
    font-size: 20px;
    padding-top: 15rem;
}

.Local_digitacao_nome {
    display: flex;
    flex-direction: row; /* Alinhamento horizontal */
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: flex-start; /* Garante que o conteúdo fique à esquerda */
}

.Local_digitacao_nome, h3{
    display: flex;
}

.Input {
    width: 8.5rem;
    height: 2rem;
    margin-left: 1rem; /* Diminui a margem para aproximar o input do texto */
    -moz-appearance: textfield; /* Remove setas no Firefox */
}

.Input::-webkit-outer-spin-button,
.Input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Remove setas no Chrome, Safari e Edge */
    margin: 0; /* Remove margens padrão */
}


.h5{
    font-size: 20px;
    margin-left: 20px;
}

.Input_data {
    font-size: 1rem;
    width: 8rem;
    margin-left: 5px;
    margin-right: 15px;
}

.Local_digitacao_data {
    display: flex;
    flex-wrap: wrap; 
    margin-top: 2rem; 
    margin-bottom: 2rem;
}

label {
    margin-right: 5px; 
}

h5 {
    margin: 0; 
}

.Botao{
    display: flex;
    align-items: center;
    margin-top: 4rem;
    margin-left: -7rem;
  }
  
.Botao_buscar{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.6rem;
    border: 3px solid black;
    background-color: #009c9c;
    cursor: pointer;
  }
  
.Botao_buscar:hover{
    background-color: #009c9ca8;
    color: rgba(0, 0, 0, 0.700);
  } 