body{
  background-color: snow;
}

.Botao{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Botao_buscar{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.6rem;
  border: 3px solid black;
  background-color: #009c9c;  
}

.Botao_buscar:hover{
  background-color: #009c9ca8;
  color: rgba(0, 0, 0, 0.700);
} 